<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zeus Trade Portal</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/style.css">
    
</head>
<body>

    <nav class="navbar navbar-expand-lg ">
        <a class="navbar-brand" href="/">
            <img class="zeus" src="/logo.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse justify-content-around" id="navbarSupportedContent">
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="/trades/delivery">Equity Delivery</a>
            <a class="nav-link" href="/trades/options">Options</a>
            <a class="nav-link" href="/logout">Logout</a>

        </div>
      </nav>
    <div class="p-5">


    
