<%- include("partials/header") %>


<div class="jumbotron">
    <h1 class="display-4">Welcome to the Home Page</h1>
    <p>Welcome to Trading Portal</p>
</div>

<h1></h1>
<p></p>


<%- include("partials/footer") %>
